<h1><%= @user.name %>のページ</h1>
<% unless @user.image %>
  <%= link_to 'プロフィールの編集はこちら', edit_user_path(@user.id) %>
<% else %>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
  <%= link_to 'プロフィールの編集はこちら', edit_user_path(@user.id) %>
<% end %>