/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */


nav, h1, table {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

table {
  border-spacing: 5px;
}

.clearfix:after {
  clear:both;
  content:'';
  display:block;
}

.navbar-brand {
  font-style: italic;
  font-weight: bold;
}

h1 {
  padding-left: 2px;
  width: 600px;
}

html {
  height: 100%;
}

.container {
  margin: 0;
}

body {
  background-color: lightgoldenrodyellow;
  min-height: 100vh;
  position: relative;
}

header {
  background-color: lightseagreen;
  height: 50px;
  width: 100%
}

.flash {
  width: 200px;
  padding-left: 30px;
}

footer{
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 30px 0;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.nav-link, .navbar-brand {
  color: white;
}


.form-group {
  width: 40%;
  margin: 20px auto;
}

.feed-group {
  margin: 20px auto; 
}

.new-feed {
  margin: 20px 300px auto;
}

#prof_show_link {
  margin-top: 20px;
}

table.favorite-feed {
  border-collapse: separate;
  border-spacing: 10px 10px;
}